<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Doações</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="https://phosphoricons.com?q=%22menu%22" />

  <link rel="stylesheet" href="../../../public/styles/comprador/doacao.css">

  <link rel="stylesheet" href="../../../public/styles/global.css">
   <script src="../../../public/scripts/layouts/comprador/sidebar.js" defer></script>
  <script src="../../../public/scripts/layouts/comprador/headercomprador.js" defer></script>
  <script src="../../../public/scripts/layouts/comprador/footercomprador.js" defer></script>

</head>

<body>
  <main id="main">
    <div class="background-icons">
      <div class="bg-icon"></div>
      <div class="bg-icon"></div>
      <div class="bg-icon"></div>
      <div class="bg-icon"></div>
      <div class="bg-icon"></div>
      <div class="bg-icon"></div>
    </div>

    <div id="container">
      <div id="titulo">
        <h2 id="titulo-inicial">Selecione a sua doação</h2>
      </div>

      <div class="container-marrom">
        <!-- Primeiro quadrado -->
        <div id="roupas-calcados" class="todas-imagens">
          <div class="imagem">
            <img class="img1" src="https://i.ibb.co/ccCH84G0/imagem.jpg" alt="Imagem para roupas">
          </div>
          <div class="text-content">
            <p class="texto-doacao">
              Doar roupas ajuda quem precisa e promove solidariedade. Confira o necessário:
              <br><br>
              <hr style="border: 1px solid #794d2446 ; width: 80%;">
            <ul class="texto-doacao2">
              <li>Gênero: Masculino, feminino ou unissex.</li>
              <li>Qualidade: Boas condições.</li>
              <li>Quantidade: Variável.</li>
              <li>Tamanho: Diversos.</li>
              <li>Tipo: casacos, calças, etc.</li>
            </ul>
            </p>
            <a href="../comprador/doacoesroupas.html"><button class="design-botao">Fazer a doação</button></a>
          </div>
        </div>

        <!-- Segundo quadrado -->
        <div id="alimentos-ração" class="todas-imagens">
          <div class="imagem">
            <img class="img2" src="https://i.ibb.co/x88FrQmK/imagem2.jpg" alt="Imagem para comida de animais">
          </div>
          <div class="text-content">
            <p class="texto-doacao">
              Para doação de alimentos para animais, considere os seguintes critérios:
              <br><br>
              <hr style="border: 1px solid #794d2446 ; width: 80%;">
            <ul class="texto-doacao2">
              <li>Porte do Animal: Pequeno, médio ou grande.</li>
              <li>Tipo de Alimento: Ração seca, úmida ou especial.</li>
              <li>Quantidade (kg): Conforme possível doar.</li>
              <li>Especificações: Alimentação específica (filhotes, adultos, idosos ou raças).</li>
            </ul>
            </p>
            <a href="../comprador/doacoesalimentos.html"><button class="design-botao">Fazer a doação</button></a>
          </div>
        </div>

        <!-- Terceiro quadrado -->
        <div id="produtos-limpeza" class="todas-imagens">
          <div class="imagem">
            <img class="img3" src="https://i.ibb.co/VYVg2Y6S/0987654.jpg" alt="Imagem para produtos de limpeza">
          </div>
          <div class="text-content">
            <p class="texto-doacao">
              Doar produtos de limpeza garante higiene e bem-estar. No cadastro de doação, será solicitado:
              <br><br>
              <hr style="border: 1px solid #794d2446 ; width: 80%;">
            <ul class="texto-doacao2">
              <li>Quantidade – Número de unidades.</li>
              <li>Recomendações – Indicação de uso.</li>
              <li>Qualidade – Lacrados e dentro da validade.</li>
              <li>Especificações – Tipo e tamanho dos produtos.</li>
            </ul>
            </p>
            <a href="../comprador/doacoeshigiene.html"><button class="design-botao">Fazer a doação</button></a>
          </div>
        </div>

        <!-- Quarto quadrado -->
        <div id="moveis-eletrodomésticos" class="todas-imagens">
          <div class="imagem">
            <img class="img4" src="https://i.ibb.co/rRNrg3RZ/34567.jpg" alt="Imagem para eletrodomésticos">
          </div>
          <div class="text-content">
            <p class="texto-doacao">
              Para doação de móveis e eletrodomésticos, siga as diretrizes abaixo:
              <br><br>
              <hr style="border: 1px solid #794d2446 ; width: 80%;">
            <ul class="texto-doacao2">
              <li>O que será pedido na doação – Móveis e eletrodomésticos reutilizáveis.</li>
              <li>Qualidade – Em bom estado e funcionando.</li>
              <li>Melhorias antes da doação – Apenas limpeza ou pequenos reparos.</li>
              <li>Quantidade – Conforme disponibilidade.</li>
            </ul>
            </p>
            <a href="../comprador/doacoesmoveis.html"><button class="design-botao">Fazer a doação</button></a>
          </div>
        </div>

        <!-- Quinto quadrado -->
        <div id="livros-brinquedos" class="todas-imagens">
          <div class="imagem">
            <img class="img5" src="https://i.ibb.co/nshX6X74/o0iuycds.jpg" alt="Imagem para livros e brinquedos">
          </div>
          <div class="text-content">
            <p class="texto-doacao">
              Doar livros e brinquedos incentiva aprendizado, criatividade e solidariedade. Considere os seguintes
              parametros:
              <br><br>
              <hr style="border: 1px solid #794d2446 ; width: 80%;">
            <ul class="texto-doacao2">
              <li>Livros – Gênero: Infantil, juvenil e adulto; Qualidade: Bom estado; Quantidade: Conforme
                disponibilidade.</li>
              <li>Brinquedos – Gênero: Educativos, recreativos e de pelúcia; Qualidade: Inteiros e seguros; Quantidade:
                Conforme disponibilidade.</li>
            </ul>
            </p>
            <a href="../comprador/doacoeslivros.html"><button class="design-botao">Fazer a doação</button></a>
          </div>
        </div>

        <!-- Sexto quadrado -->
        <div id="cobertores-mais" class="todas-imagens">
          <div class="imagem">
            <img class="img6" src="https://i.ibb.co/WvgHntJN/lokjhbgv.webp" alt="Imagem para cobertores e variedades">
          </div>
          <div class="text-content">
            <p class="texto-doacao">
              Doar cobertores e outros itens essenciais ajuda a proteger pessoas do frio e melhora sua qualidade de
              vida.
              <br><br>
              <hr style="border: 1px solid #794d2446 ; width: 80%;">
            <ul class="texto-doacao2">
              <li>Qualidade – Limpos, sem rasgos, em boas condições.</li>
              <li>Quantidade – Conforme disponibilidade.</li>
            </ul>
            </p>
            <a href="../comprador/doacoescobertores.html"><button class="design-botao">Fazer a doação</button></a>
          </div>
        </div>
      </div>
    </div>
  </main>
  </div>
  
  <div class="modal fade" id="erroSenhaModal" tabindex="-1" aria-labelledby="erroSenhaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="erroSenhaModalLabel">Atenção</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body" id="erroSenhaModalBody">
          <!-- Mensagem de erro será inserida aqui -->
        </div>
        <div class="modal-footer">
          <button id="botao-validar" type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendi</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>