<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mapa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://phosphoricons.com?q=%22menu%22" />
 
    <link rel="stylesheet" href="../../../public/styles/comprador/mapa.css">
    <script src="../../../public/scripts/comprador/mapa.js"></script>

   <link rel="stylesheet" href="../../../public/styles/global.css">
   <script src="../../../public/scripts/layouts/comprador/sidebar.js" defer></script>
   <script src="../../../public/scripts/layouts/comprador/headercomprador.js" defer></script>
   <script src="../../../public/scripts/layouts/comprador/footercomprador.js" defer></script>
  </head>
  <body>
      <main id="main">
        <div class="imagem-mapa">
          <img src="../../../public/assets/imgs/comprador/mapa-foto.png" alt="Representação de como será o mapa" id="imagem-mapa">
        </div>
  
        <div class="busca">
          <div class="lateral">
              <input type="search" placeholder="Pesquise sua cidade aqui..." id="input-pesquise">
              <button id="botao-de-busca">Buscar</button>
          </div>
        </div>
  
        <div class="dashboard-container">
  
          <div class="card card-performance">
              <div class="chart-title">O número de visualizações do seu documento aumentou significativamente em comparação a semana passada. Houve um crescimento de 75% em sua performance vs. Média.</div>
              <div class="donut-chart">
                  <div class="donut-chart-inner"></div>
              </div>
              <div class="chart-label">75% de crescimento total</div>
          </div>
          
          <div class="card card-impact">
              <div class="chart-title">Análise sobre o impacto do seu conteúdo nos últimos 30 dias:</div>
              <div class="pie-chart"></div>
              <div class="chart-label">Distribuição por área</div>
          </div>
            
          <div class="card card-text-causes">
              <h3>Porque isso acontece?</h3>
              <p>As enchentes urbanas são resultado de uma série de fatores interligados, entre os quais se destacam: chuvas intensas, impermeabilização do solo, descarte inadequado de resíduos, falhas nos sistemas de drenagem e ocupação irregular do espaço urbano. Chuvas de curta duração e alta intensidade podem provocar inundações rápidas, pois o volume de água se acumula mais rapidamente do que é capaz de escoar.</p>
              <p>O acúmulo de água em bueiros e pontes, frequentemente agravado pela presença de lixo, pode levar à obstrução do escoamento. Superfícies impermeáveis, como concreto e asfalto, dificultam a infiltração da água da chuva no solo, resultando em um aumento do escoamento superficial e, consequentemente, na intensificação das enchentes. Em áreas urbanas, a velocidade e o volume do escoamento são significativamente maiores, o que sobrecarrega os sistemas de drenagem.</p>
          </div>
  
          <div class="card card-graph-image">
              <img src="../../../public/assets/imgs/comprador/grafico-mapa.png" alt="Gráfico de análise de risco" id="imagem3">
          </div>
          
          <div class="card card-text-safety">
              <h3>Por que eu deveria estar longe?</h3>
              <p>Estar longe de áreas de risco de inundações, enxurradas e alagamentos é crucial para garantir a segurança e minimizar danos. Em primeiro lugar, protege vidas, já que esses eventos podem causar afogamentos e lesões graves. Também ajuda a preservar bens materiais, como casas e veículos, evitando prejuízos financeiros e emocionais. Além disso, áreas alagadas aumentam o risco de doenças, como leptospirose e dengue, e comprometem infraestruturas essenciais, como estradas e sistemas de saneamento. Afastar-se dessas zonas de risco previne perdas econômicas e facilita um planejamento urbano mais resiliente frente às mudanças climáticas.</p>
          </div>
  
        </div>
      </main>
      
    </div> <div class="modal fade" id="erroSenhaModal" tabindex="-1" aria-labelledby="erroSenhaModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="erroSenhaModalLabel">Atenção</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
              </div>
              <div class="modal-body" id="erroSenhaModalBody">
                  </div>
              <div class="modal-footer">
                  <button id="botao-validar" type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendi</button>
              </div>
          </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>