<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pontos de Abrigo</title>
  <link rel="shortcut icon" href="https://i.ibb.co/7NybZ3W7/1.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="https://phosphoricons.com?q=%22menu%22" />

  <link rel="stylesheet" href="../../../public/styles/comprador/pontosdeabrigo.css">
  <script src="../../../public/scripts/comprador/pontosdeabrigo.js"></script>

  <link rel="stylesheet" href="../../../public/styles/global.css">
   <script src="../../../public/scripts/layouts/comprador/sidebar.js" defer></script>
  <script src="../../../public/scripts/layouts/comprador/headercomprador.js" defer></script>
  <script src="../../../public/scripts/layouts/comprador/footercomprador.js" defer></script>
</head>

<body>

  <main id="main">
    <h1 class="gg1">Pontos de Abrigo</h1>


    <form>
      <div class="searchinho">
        <input type="search" class="search-inputinho" id="searchabrigo" placeholder="Ex:Cajazeiras..">
        <button type="submit" class="s-button">Pesquisar</button>
      </div>
    </form>

    <div class="counter">Abrigos adicionados: <span id="count">0</span>/9</div>

    <div class="parent-container">
      <div class="input-container" id="inputForm">
        <div class="input-image-container">
          <label for="imageInput" class="image-input-label">
            <div class="upload-text">Clique para adicionar foto</div>
            <img id="imagePreview" class="input-image-preview" src="#" alt="Preview">
          </label>
          <input type="file" id="imageInput" accept="image/*">
        </div>

        <div class="input-fields-container">
          <div class="input-row">
            <label class="label" for="localName">Nome do Local:</label>
            <input class="input" type="text" id="localName" placeholder="Digite o nome do local...">
          </div>
          <div class="input-row">
            <label class="label" for="openingHours">Horário em que abre:</label>
            <input class="input" type="time" id="openingHours" placeholder="ex: 08:00">
          </div>

          <div class="input-row">
            <label class="label" for="closingHours">Horário em que fecha:</label>
            <input class="input" type="time" id="closingHours" placeholder="ex: 18:00">
          </div>
          <div class="input-row">
            <label for="address" class="label">Endereço:</label>
            <textarea class="textarea" id="address" placeholder="ex: Estrada do Coqueiro Grande..."></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="button-group">
      <button id="cancelButton" class="cancel-btn hidden">Cancelar</button>
      <button id="addButton" class="button">Adicionar Item</button>
    </div>

    <div id="gallery" class="gallery"></div>
  </main>
  </div>

  <div class="modal fade" id="erroSenhaModal" tabindex="-1" aria-labelledby="erroSenhaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="erroSenhaModalLabel">Atenção</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body" id="erroSenhaModalBody">
          <!-- Mensagem de erro será inserida aqui -->
        </div>
        <div class="modal-footer">
          <button id="botao-validar" type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendi</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="mensagemModal" tabindex="-1" aria-labelledby="mensagemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mensagemModalLabel">Atenção</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
        </div>
        <div class="modal-body" id="mensagemModalBody">
          <!-- Aqui será inserido o conteúdo da mensagem -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendi</button>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>