<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enchant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://phosphoricons.com?q=%22menu%22" />
    <link rel="shortcut icon" href="https://i.ibb.co/7NybZ3W7/1.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="/public/styles/global.css">
    <link rel="stylesheet" href="/public/styles/comprador/quemsomoscomprador.css">
    <script src="/public/scripts/comprador/quemsomoscomprador.js"></script>
    <script src="/public/scripts/layouts/comprador/sidebar.js" defer></script>
    <script src="/public/scripts/layouts/comprador/headercomprador.js" defer></script>
    <script src="/public/scripts/layouts/comprador/footercomprador.js" defer></script>
</head>

<body>
    <main>
        <h1>Quem somos?</h1>

        <div class="uploads-wrapper" id="uploadsWrapper">
            <button class="botao-acao botao-adicionar-pessoa" id="addPersonBtn" title="Adicionar nova pessoa">+</button>
        </div>

        <p class="contatos">Contatos</p>
        <div class="contatos-container">
            <div class="contato-item">
                <i class="fa fa-phone" ></i>
                <input type="text" class="contato-input" placeholder="(71) 82737-9273" maxlength="15">
            </div>
            <div class="contato-item">
                <i class="fab fa-whatsapp"></i>
                <input type="text" class="contato-input" placeholder="(71) 82737-9273" maxlength="15">
            </div>
            <div class="contato-item">
                <i class="fa fa-envelope"></i>
                <input type="email" class="contato-input" placeholder="exemplo@gmail.com">
            </div>
        </div>

        <div class="sobre-missao-container">
            <div class="sobre-missao">
                <div class="sobre">
                    <div class="section-header">
                        <h3 class="h3-sm">Sobre</h3>
                        <button class="butao-editar" data-target="sobre-textarea">
                            <svg width="24" height="24" viewBox="0 0 36 36" fill="none">
                                <path d="M21.4492 9.875C21.6231 9.87506 21.7954 9.90904 21.9561 9.97559L22.0732 10.0312C22.188 10.0925 22.2934 10.1704 22.3857 10.2627L25.7373 13.6152H25.7363C25.8594 13.7383 25.9578 13.8842 26.0244 14.0449L26.0684 14.167C26.1061 14.2915 26.125 14.4212 26.125 14.5518C26.125 14.6823 26.1061 14.812 26.0684 14.9365L26.0244 15.0586C25.9744 15.1792 25.9068 15.292 25.8242 15.3926L25.7363 15.4883L16.4883 24.7354L16.4893 24.7363C16.3972 24.8291 16.2915 24.9072 16.1768 24.9688L16.0596 25.0244C15.9389 25.0745 15.8112 25.1067 15.6816 25.1191L15.5518 25.125H12.2002C11.8928 25.125 11.5961 25.0183 11.3604 24.8252L11.2627 24.7373C11.0142 24.4888 10.875 24.1512 10.875 23.7998V20.4482C10.8745 20.2743 10.909 20.1021 10.9756 19.9414L11.0312 19.8232C11.0927 19.7086 11.171 19.6037 11.2637 19.5117L20.5117 10.2627L20.6084 10.1758C20.7089 10.0933 20.8209 10.0255 20.9414 9.97559L21.0645 9.93164C21.1888 9.89397 21.3188 9.875 21.4492 9.875ZM12.3252 20.5V23.6748H15.501L21.9746 17.2002L18.7998 14.0254L12.3252 20.5ZM19.8242 13L23 16.1738L24.623 14.5508L21.4482 11.377L19.8242 13Z" fill="#61350C" stroke="#61350C" stroke-width="0.25"/>
                            </svg>
                        </button>
                    </div>
                    <textarea id="sobre-textarea" placeholder="Escreva aqui..."></textarea>
                </div>
                
                <div class="missao">
                    <div class="section-header">
                        <h3 class="h3-sm">Missão</h3>
                        <button class="butao-editar" data-target="missao-textarea">
                            <svg width="24" height="24" viewBox="0 0 36 36" fill="none">
                                <path d="M21.4492 9.875C21.6231 9.87506 21.7954 9.90904 21.9561 9.97559L22.0732 10.0312C22.188 10.0925 22.2934 10.1704 22.3857 10.2627L25.7373 13.6152H25.7363C25.8594 13.7383 25.9578 13.8842 26.0244 14.0449L26.0684 14.167C26.1061 14.2915 26.125 14.4212 26.125 14.5518C26.125 14.6823 26.1061 14.812 26.0684 14.9365L26.0244 15.0586C25.9744 15.1792 25.9068 15.292 25.8242 15.3926L25.7363 15.4883L16.4883 24.7354L16.4893 24.7363C16.3972 24.8291 16.2915 24.9072 16.1768 24.9688L16.0596 25.0244C15.9389 25.0745 15.8112 25.1067 15.6816 25.1191L15.5518 25.125H12.2002C11.8928 25.125 11.5961 25.0183 11.3604 24.8252L11.2627 24.7373C11.0142 24.4888 10.875 24.1512 10.875 23.7998V20.4482C10.8745 20.2743 10.909 20.1021 10.9756 19.9414L11.0312 19.8232C11.0927 19.7086 11.171 19.6037 11.2637 19.5117L20.5117 10.2627L20.6084 10.1758C20.7089 10.0933 20.8209 10.0255 20.9414 9.97559L21.0645 9.93164C21.1888 9.89397 21.3188 9.875 21.4492 9.875ZM12.3252 20.5V23.6748H15.501L21.9746 17.2002L18.7998 14.0254L12.3252 20.5ZM19.8242 13L23 16.1738L24.623 14.5508L21.4482 11.377L19.8242 13Z" fill="#61350C" stroke="#61350C" stroke-width="0.25"/>
                            </svg>
                        </button>
                    </div>
                    <textarea id="missao-textarea" placeholder="Escreva aqui..."></textarea>
                </div>
            </div>
        </div>

        <div class="botoes-acao-container">
            <button class="botao-acao botao-editar-tudo" id="botaoEditarTudo">Editar</button>
            <button class="botao-acao botao-salvar" id="botaoSalvar">Salvar</button>
        </div>
    </main>

    <div class="modal fade" id="erroSenhaModal" tabindex="-1" aria-labelledby="erroSenhaModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="erroSenhaModalLabel">Atenção</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
              </div>
              <div class="modal-body" id="erroSenhaModalBody">
                  </div>
              <div class="modal-footer">
                  <button id="botao-validar" type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendi</button>
              </div>
          </div>
      </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>