<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    
    <link rel="stylesheet" href="../../../public/styles/global.css">
    <script src="../../../public/scripts/layouts/comprador/sidebar.js" defer></script>
    <script src="../../../public/scripts/layouts/comprador/headercomprador.js" defer></script>
    <script src="../../../public/scripts/layouts/comprador/footercomprador.js" defer></script>
    <script src="../../../public/scripts/comprador/telainicialusuariodepois.js" defer></script>
     <link rel="stylesheet" href="../../../public/styles/comprador/telainicialusuariodepois.css">
    
   
</head>
<body>

    <div id="loading-overlay" class="fixed inset-0 bg-white/80 z-[1000] flex-col items-center justify-center hidden">
        <div class="animate-spin rounded-full h-16 w-16 border-t-2 border-b-2 border-brown-custom"></div>
        <p class="mt-4 text-brown-custom font-semibold">Gerando PDF...</p>
    </div>

    <div id="dashboard-content" class="dashboard-container">
        
            <div class="card-sm-shadow">
                <div class="header flex items-center justify-between">
                    <button id="generate-pdf-btn" class="btn-pdf w-auto">Gerar PDF</button>
                    <div class="header-controls flex items-center gap-2">
                        <div id="filter-container" class="filter-group flex gap-2">
                            <span id="filter-day" class="cursor-pointer border border-gray-300 p-2 rounded-l-lg">Dia</span>
                            <span id="filter-week" class="cursor-pointer border-y border-gray-300 p-2">Semana</span>
                            <span id="filter-month" class="cursor-pointer border-y border-gray-300 p-2 text-white bg-brown-custom">Mês</span>
                            <span id="filter-year" class="cursor-pointer border border-gray-300 p-2 rounded-r-lg">Ano</span>
                        </div>
                        <div id="date-picker-trigger" class="date-picker-trigger flex items-center gap-2 cursor-pointer p-2 rounded-lgborder border-gray-300">
                            <svg class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg>
                            <span id="start-date-display" class="date-display">dd/mm/aaaa</span>
                            <span>-</span>
                            <span id="end-date-display" class="date-display">dd/mm/aaaa</span>
                            <input type="text" id="date-range-input" class="hidden">
                        </div>
                    </div>
                </div>
                <div class="h-96">
                    <h5 class="card-title">Doações por Mês</h5>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
        
  <link rel="stylesheet" href="../../../public/styles/comprador/transparencia123.css">

  <div class="nav-tabs">
      <a class="aaa" href="../../views/comprador/transparencia1.html">
        <button class="nav-tab " data-page="page1">
          <svg class="icon" viewBox="0 0 24 24">
            <path d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M18,20H6V4H13V9H18V20Z" />
          </svg>
          Relatórios
        </button>
      </a>
      <a class="aaa" href="../../views/comprador/transparencia2.html">
        <button class="nav-tab" data-page="page2">
          <svg class="icon" viewBox="0 0 24 24">
            <path
              d="M16,1H4A2,2 0 0,0 2,3V17H4V3H16V1M19,5H8A2,2 0 0,0 6,7V21A2,2 0 0,0 8,23H19A2,2 0 0,0 21,21V7A2,2 0 0,0 19,5M19,21H8V7H19V21Z" />
          </svg>
          Contratos
        </button>
      </a>
      <a class="aaa" href="../../views/comprador/transparencia3.html">
        <button class="nav-tab" data-page="page3">
          <svg class="icon" viewBox="0 0 24 24">
            <path
              d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.98C19.47,12.66 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11.02L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.22,8.95 2.27,9.22 2.46,9.37L4.57,11.02C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.66 4.57,12.98L2.46,14.63C2.27,14.78 2.22,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.68 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.98Z" />
          </svg>
          Notas de auditoria
        </button>
      </a>
      <a class="aaa" href="../../views/comprador/transparenciadocu.html">
        <button class="nav-tab" data-page="page1">
          <svg class="icon" viewBox="0 0 24 24">
            <path
              d="M14,2H6A2,2 0 0,0 4,4V20A2,2 0 0,0 6,22H18A2,2 0 0,0 20,20V8L14,2M18,20H6V4H13V9H18V20M15,13H9V15H15V13M17,9H9V11H17V9Z" />
          </svg>
          Documentos comprobatórios
        </button>
      </a>
      <a class="aaa" href="../../views/comprador/transparenciagestao.html">
        <button class="nav-tab " data-page="page1">
          <svg class="icon" viewBox="0 0 24 24">
            <path
              d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M17,18H7V16H17V18M15.5,14H8.5V12H15.5V14M17,10H7V8H17V10Z" />
          </svg>
          Gestão financeira
        </button>
      </a>
      <a class="aaa" href="../../views/comprador/transparenciaparcerias.html">
        <button class="nav-tab " data-page="page1">
          <svg class="icon" viewBox="0 0 24 24">
            <path
              d="M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M13,7V11.59L15.71,14.3L14.29,15.71L11,12.41V7H13Z" />
          </svg>
          Parcerias
        </button>
      </a>
    </div>
        
        <div class="main-grid">
            <aside class="sideeebar">
                <div class="card">
                    <h3 class="card-title">Links rápidos:</h3>
                    <nav class="flex flex-col gap-2 text-gray-600">
                         <a href="../../views/comprador/pontosdecoleta.html" class="py-2 hover:text-brown-custom">Pontos para a coleta</a>
                         <a href="../../views/comprador/pontosdecoleta.html" class="py-2 hover:text-brown-custom">Onde eu faço a doação</a>
                         <a href="../../views/comprador/mapa.html" class="py-2 hover:text-brown-custom">Mapa de risco</a>
                         <a href="../../views/comprador/ajuda.html" class="py-2 hover:text-brown-custom">Precisa de ajuda?</a>
                         <a href="../../views/comprador/quemsomos2.html" class="py-2 hover:text-brown-custom">Nossa equipe</a>
                         <a href="../../views/comprador/transparenciaparcerias.html" class="py-2 hover:text-brown-custom">Nossos parceiros</a>
                    </nav>
                </div>

                <div class="card">
                    <h3 class="card-title">Agenda</h3>
                    <div id="calendar"></div>
            </aside>

            <main class="main-content-area">
                <div class="card h-72" style="height: 18rem !important;">
                    <h3 class="card-title">Mapa de risco</h3>
                    <div id="map" class="w-full h-full rounded-xl"></div>
                </div>
                
                <div class="cards-grid-2">
                    <div class="card">
                        <div class="card-row">
                            <span class="font-semibold">Nome do usuário</span>
                            <span class="text-sm text-gray-500">Setembro 13/09/2025</span>
                        </div>
                        <div class="flex gap-2 mb-4">
<a href="pefildodoador.html" class="btn-pdf"> Editar perfil</a>
                        </div>
                        <div class="bg-orange-custom text-white px-4 py-2 rounded-lg text-xs mb-2 text-center"></div>
                        <div class="bg-brown-custom text-white px-4 py-2 rounded-lg text-xs text-center"></div>
                    </div>
                    
                    <div class="card">
                        <div class="card-row">
                            <span class="font-semibold">Hoje</span>
                            <span class="text-sm text-gray-500" id="current-date"></span>
                        </div>
                        <div id="pending-donations-list" class="flex flex-col gap-2 overflow-y-auto max-h-48"></div>
                    </div>
                </div>
                
                <div class="cards-grid-2">
                    <div class="card">
                        <h5 class="card-title">Pontos de Abrigo</h5>
                        <div id="pontos-abrigo-list" class="flex flex-col gap-2"></div>
                        </div>

                 

                <div class="card text-center items-center justify-center flex flex-col">
                    <h3 class="title" style="font-size: 70px;">50%</h3>
                    <div>
                        <p class="text-sm text-gray-600">Percentual de doação no ano:</p>
                   
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div id="donation-modal" class="modal-overlay">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes da Doação</h4>
                <button id="close-modal" class="modal-close">&times;</button>
            </div>
            <div class="modal-body">
                <p><strong>Data:</strong> <span id="modal-date"></span></p>
                <p><strong>Quantidade:</strong> <span id="modal-amount"></span></p>
                <p><strong>Categoria:</strong> <span id="modal-type"></span></p>
            </div>
        </div>
    </div>

    </body>
</html>