<!doctype html>
<html lang="pt-br">http://127.0.0.1:3001/src/views/index.html
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Enchant - Esqueceu a senha?</title>
  <link rel="shortcut icon" href="https://i.ibb.co/7NybZ3W7/1.png" type="image/x-icon">
  <link rel="stylesheet" href="../CSS/esqueciasenha1.css" />

  <link rel="stylesheet" href="../../../public/styles/enchant/esqueciasenha1.css">
  <script src="../../../public/scripts/enchant/esqueciasenha1.js"></script>

  <script src="../../../public/scripts/layouts/enchant/headerenchant.js"></script>
  <script src="../../../public/scripts/layouts/enchant/footerenchant.js"></script>
  <link rel="stylesheet" href="../../../public/styles/global.css">
  
  <!-- NÃO PRECISA MAIS DESSAS LINHAS - O HEADER.JS VAI CARREGAR AUTOMATICAMENTE -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" /> -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"> -->
</head>

<body>
  <!-- AQUI VAI SER INSERIDO O HEADER AUTOMATICAMENTE -->
  <div id="header-container"></div>

  <section div class="containersub">
    <h1 class="h1sub">Esqueceu a senha?</h1>
    <p class="psub">Digite o e-mail cadastrado para receber um código de confirmação:</p>
  </section>
  
  <section>
    <div class="circle"></div>
  </section>
  
  <section>
    <form class="containersubsub" id="formSenha">
      <input type="email" name="email-e1" id="email-e1" placeholder="xxxxxxx@xxxx.xxx.xx" required>
      <button type="submit" class="btn-e1sub">Continuar</button>
    </form>
  </section>

  <!-- Modal para mensagens - Compatível com Bootstrap 4 -->
  <div class="modal fade" id="mensagemModal" tabindex="-1" role="dialog" aria-labelledby="mensagemModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mensagemModalLabel">Atenção</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="mensagemModalBody">
          <!-- Aqui será inserido o conteúdo da mensagem -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btsub" data-dismiss="modal">Entendi</button>
        </div>
      </div>
    </div>
  </div>

  <section>
        <div id="enchant-footer"></div>
    <script src="../../scripts/layouts/enchant/footerenchant.js"></script>


    <script>
      // AQUI É ONDE VOCÊ INICIALIZA O HEADER!
      document.addEventListener('DOMContentLoaded', function() {
        // Carregar Bootstrap e FontAwesome automaticamente
        HeaderComponent.loadDependencies();
        
        // Renderizar o header no container
        initializeHeader('header-container');
        
        // OU se quiser customizar os caminhos:
        // initializeHeader('header-container', {
        //   home: '../index.html',
        //   quemsomos: 'quemsomos1.html',
        //   saibamais: 'saibamais1.html',
        //   entrar: 'entrar1.html',
        //   logo: '../IMAGENS/imagemprincipal.png'
        // });
      });
    </script>

</body>

</html>
