<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://i.ibb.co/7NybZ3W7/1.png" type="image/x-icon">
    <title>Enchant - Pagamento</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <link rel="stylesheet" href="../../../public/styles/enchant/paginapagamentoinicial.css">
  
    <link rel="stylesheet" href="../../../public/styles/global.css">
    <script src="../../../public/scripts/layouts/enchant/headerenchant.js"></script>
    <script src="../../../public/scripts/layouts/enchant/footerenchant.js"></script>

</head>
<body>
    <section>
       <div id="header-container"></div>
    </section>

    <main>
        <div class="primeira-parte" id="primeira-parte">
            <div>
                <h2 class="pagamento">Pagamento - Insira os seus dados</h2>
            </div>
            <section class="container">
                <div class="recomendações">
                    <p>
                        Recomendamos atenção total ao preencher os dados nos campos solicitados. É fundamental que as informações sejam inseridas de forma responsável, a fim de evitar fraudes.
                    </p>
                </div>
                <form id="dados-form" novalidate>
                    <div class="full-width">
                        <label for="nomecomprador">Nome da Instituição/ONG: <b style="color: #FF0404;">*</b></label>
                        <input type="text" name="nomecomprador" id="nomecomprador" autocomplete="off" placeholder="ex: Nome da Instituição" required>
                    </div>
                    <div>
                        <label for="email">Email: <b style="color: #FF0404;">*</b></label>
                        <input type="email" name="email" id="email" autocomplete="off" placeholder="ex: example@gmail.com" required>
                    </div>
                    <div>
                        <label for="cnpj">CNPJ: <b style="color: #FF0404;">*</b></label>
                        <input type="text" name="cnpj" id="cnpj" autocomplete="off" placeholder="ex: XX.XXX.XXX/0001-XX" required>
                    </div>
                    <div>
                        <label for="tel">Telefone: <b style="color: #FF0404;">*</b></label>
                        <input type="tel" name="tel" id="tel" autocomplete="off" placeholder="ex: (XX) XXXXX-XXXX" required>
                    </div>
                    <div>
                        <label for="estado">Estado: <b style="color: #FF0404;">*</b></label>
                        <select name="estado" id="estado" required>
                            <option value="" hidden>Escolha uma opção...</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                    <div class="full-width">
                        <label for="cidade">Cidade: <b style="color: #FF0404;">*</b></label>
                        <select name="cidade" id="cidade" disabled required>
                            <option value="" hidden>Selecione um estado primeiro...</option>
                        </select>
                    </div>
                    <div class="senha-area full-width">
                        <div>
                            <label for="senha">Senha: <b style="color: #FF0404;">*</b></label>
                            <input type="password" name="senha" id="senha" placeholder="ex: Senha@123" required>
                        </div>
                        <div>
                            <label for="confirmarsenha">Confirme a senha: <b style="color: #FF0404;">*</b></label>
                            <input type="password" name="confirmarsenha" id="confirmarsenha" placeholder="ex: Senha@123" required>
                        </div>
                    </div>
                    <div class="requerimento-senha full-width">
                        <p id="senha-conter">Sua senha deve conter:</p>
                        <p id="minimodigitos">Mínimo 8 dígitos</p>
                        <p id="doisnumeros">Pelo menos 2 números</p>
                        <p id="umcaracterespecial">Pelo menos 1 caracter especial</p>
                        <p id="letramaiuscula">Pelo menos 1 letra maiúscula</p>
                    </div>
                    <div class="div-botao-continuar">
                        <button type="submit" class="botao-continuar" id="botao-continuar">Continuar</button>
                    </div>
                </form>
            </section>
        </div>

        <div class="segunda-parte" id="segunda-parte">
            <div>
                <h2 class="pagamento">Finalizar Pagamento</h2>
            </div>
            <section class="pagamento-container">
                <div class="asd">
                    <div class="detalhes-container">
                        <div class="titulo">
                            <h4>Detalhes do cliente</h4>
                        </div>
                        <div class="informações">
                            <div class="detalhe-column">
                                <p id="nomeong">Nome da ONG</p>
                                <p id="display-nome">XXXXXXXXXXX</p>
                            </div>
                            <div class="detalhe-column">
                                <p id="emailong">Email</p>
                                <p id="display-email">example@gmail.com.br</p>
                            </div>
                            <div class="detalhe-column">
                                <p id="telong">Telefone</p>
                                <p id="display-telefone">+55 (XX)XXXXX-XXXX</p>
                            </div>
                        </div>
                    </div>
                    <div class="detalhes-container">
                        <div class="titulo">
                            <h4>Detalhes do pagamento</h4>
                        </div>
                        <div class="asd">
                            <form class="form-pagamento">
                                <div class="escolher-pagamento">
                                    <input type="radio" name="opcao" value="1" id="opcao-credito" checked>
                                    <label for="opcao-credito">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M880-720v480q0 33-23.5 56.5T800-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720Zm-720 80h640v-80H160v80Zm0 160v240h640v-240H160Zm0 240v-480 480Z"/></svg>
                                        Cartão de crédito
                                    </label>
                                    
                                    <input type="radio" name="opcao" value="2" id="opcao-debito">
                                    <label for="opcao-debito">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M880-720v480q0 33-23.5 56.5T800-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720Zm-720 80h640v-80H160v80Zm0 160v240h640v-240H160Zm0 240v-480 480Z"/></svg>
                                        Cartão de débito
                                    </label>
                                    
                                    <input type="radio" name="opcao" value="3" id="opcao-pix">
                                    <label for="opcao-pix">
                                        <i class="fa-brands fa-pix"></i>
                                        Pix
                                    </label>
                                </div>
                                <div class="cartao-credito">
                                    <div>
                                        <label for="numerocartao">Número do cartão: <b style="color: #FF0404;">*</b></label>
                                        <input type="text" name="numerocartao" id="numerocartao" placeholder="ex: 0000 0000 0000 0000" autocomplete="off">
                                    </div>
                                    <div class="informaçoes-pagamento">
                                        <div style="display: flex; flex-direction: column;">
                                            <label for="mes">Data de expiração: <b style="color: #FF0404;">*</b></label>
                                            <div>
                                                <select name="mes" id="mes">
                                                    <option value="" disabled hidden selected>Mês</option>
                                                    <option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
                                                </select>
                                                <br>
                                                <select name="ano" id="ano">
                                                    <option value="" disabled hidden selected>Ano</option>
                                                    <option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option><option value="2032">2032</option><option value="2033">2033</option><option value="2034">2034</option><option value="2035">2035</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div style="display: flex; flex-direction: column;">
                                            <label for="cvv">CVV: <b style="color: #FF0404;">*</b></label>
                                            <input type="text" name="cvv" id="cvv" autocomplete="off" minlength="3" maxlength="4">
                                        </div>
                                    </div>
                                </div>
                                <div class="cartao-debito">
                                    <div>
                                        <label for="numerocartaodebito">Número do cartão: <b style="color: #FF0404;">*</b></label>
                                        <input type="text" name="numerocartaodebito" id="numerocartaodebito" placeholder="ex: 0000 0000 0000 0000" autocomplete="off">
                                    </div>
                                    <div class="informaçoes-pagamento">
                                        <div style="display: flex; flex-direction: column;">
                                            <label for="mesdebito">Data de expiração: <b style="color: #FF0404;">*</b></label>
                                            <div>
                                                <select name="mesdebito" id="mesdebito">
                                                    <option value="" disabled hidden selected>Mês</option>
                                                    <option value="1">01</option><option value="2">02</option><option value="3">03</option><option value="4">04</option><option value="5">05</option><option value="6">06</option><option value="7">07</option><option value="8">08</option><option value="9">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
                                                </select>
                                                <select name="anodebito" id="anodebito">
                                                    <option value="" disabled hidden selected>Ano</option>
                                                    <option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option><option value="2032">2032</option><option value="2033">2033</option><option value="2034">2034</option><option value="2035">2035</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div style="display: flex; flex-direction: column;">
                                            <label for="cvvdebito">CVV: <b style="color: #FF0404;">*</b></label>
                                            <input type="text" name="cvvdebito" id="cvvdebito" autocomplete="off" minlength="3" maxlength="4">
                                        </div>
                                    </div>
                                </div>
                                <div class="pix">
                                    <label for="nomecompleto">Nome completo: <b style="color: #FF0404;">*</b></label>
                                    <input type="text" name="nomecompleto" id="nomecompleto" autocomplete="off" required>
                                    <label for="cpf">CPF: <b style="color: #FF0404;">*</b></label>
                                    <input type="text" name="cpf" id="cpf" autocomplete="off" required>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="pedido">
                    <div class="titulo">
                        <h4>Pedido</h4>
                    </div>
                    <div>
                        <div class="valor">
                            <p>Valor total:</p>
                            <p>R$ 999,99</p>
                        </div>
                        <div class="valor">
                            <p>Subtotal:</p>
                            <p>R$ 999,99</p>
                        </div>
                        <div class="valor">
                            <p>Taxa/Impostos:</p>
                            <p>R$ 999,99</p>
                        </div>
                    </div>
                    <div class="botaocomprar">
                        <button class="btn-voltar" id="voltar-pagamento">Voltar</button>
                        <button id="comprar">Continuar com a compra</button>
                    </div>
                </div>
            </section>
        </div>
        
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Erro de Validação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="errorModalBody"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              </div>
            </div>
          </div>
        </div>
    </main>

    <div id="enchant-footer"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script src="../../../public/scripts/enchant/paginapagamentoinicial.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        initializeHeader('header-container');
      });
    </script>
</body>
</html>