<!doctype html>
<html lang="pt-br">

<head>
  <title>Enchant</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_back" />
  <link rel="shortcut icon" href="https://i.ibb.co/7NybZ3W7/1.png" type="image/x-icon">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_circle_left" />
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/enchant/privacidade1.css">
  <script src="/scripts/layouts/enchant/headerenchant.js"></script>
  <script src="/scripts/layouts/enchant/footerenchant.js"></script>
</head>
<body>
  <div id="header-container"></div>
  <main>

    <br>
    <br>
    <h2 div class="titulo">Politica de privacidade</h2>
    <br>

    <ul>
      <li div class="lista">Introdução</li>
      <div class="corpo">
        <p>
          A presente Política de Privacidade tem como objetivo informar
          como o Enchant coleta, utiliza, armazena e protege as
          informações pessoais de seus usuários. O Enchant é uma
          plataforma dedicada a ajudar vítimas de enchentes, facilitando a
          doação de objetos e mantimentos. Ao utilizar nosso site, você
          concorda com os termos aqui descritos. Os requisitos legais de
          proteção de dados estão aumentando, assim como as expectativas
          do público sobre como os dados pessoais são tratados. No Brasil,
          a Lei 13.709/2018 - Lei Geral de Proteção de Dados (LGPD),
          entrou em vigor no ano de 2020, requerendo das organizações
          procedimentos que protejam a privacidade e proteção de dados dos
          seus usuários e partes interessadas. 
        </p>

        <p href="man" div class="politica">
          POR FAVOR, LEIA ESTA POLÍTICA DE PRIVACIDADE COM ATENÇÃO, POIS
          AO VISITAR O SITE, VOCÊ ACEITA OS TERMOS DESCRITOS NESTA
          POLÍTICA DE PRIVACIDADE. CASO NÃO CONCORDE, RECOMENDAMOS A NÃO
          UTILIZAÇÃO OU NAVEGAÇÃO DENTRO DO SITE. 
        </p>
      </div>
      <br />
      <br />
      <li div class="lista">Uso das informações</li>
      <div class="corpo">
        <p>
          O principal objetivo deste documento é estabelecer um
          compromisso de transparência e respeito no tratamento dos dados
          pessoais. Esta política tem como objetivo evidenciar diretrizes
          e procedimentos adotados pela Enchant para garantir a proteção e
          privacidade dos dados das pessoas que interagem com o site, em
          conformidade com a Lei 13.709/2018, que dispõe sobre a LGPD e
          com a política global de proteção e privacidade de dados da
          Enchant. O documento foi construído a partir de um esforço comum
          de mapeamento e compreensão dos fluxos de dados pessoais que são
          tratados dentro do site, e que agora, encontram-se detalhados de
          forma mais clara nessa Política de Proteção e Privacidade de
          dados, como forma de garantir a efetividade do direito ao livre
          acesso aos dados pessoais e também ao princípio da
          transparência, previstos na LGPD. As informações coletadas têm
          as seguintes finalidades:
        </p>

        <p>- Facilitar a conexão entre doadores e donatários.</p>

        <p>- Gerenciar e organizar as doações recebidas.</p>

        <p>
          - Enviar atualizações sobre a plataforma e a situação das
          doações.
        </p>

        <p>
          - Garantir a segurança e integridade da plataforma e do usuário.
        </p>
      </div>
      <br />
      <br />
      <li div class="lista">Coleta de informações</li>

      <div class="corpo">
        <p>
          Coletamos informações pessoais quando você se cadastra em nosso
          site como donatário (quem recebe doações) ou como doador (ONGs,
          pessoas físicas e instituições). Com base no nosso mapeamento e
          dicionário de dados, os principais dados que coletamos são:
        </p>
        <p>Cadastro Donatário:</p>
        <p>
          - Telefone; - Gênero; - Cadastro de Pessoa Física (CPF); -
          Registro Geral (RG); - Código de Endereçamento Postal (CEP); -
          Nome da mãe/pai ou responsável; - Foto 3x4; - Vídeo esclarecedor
          (No qual o usuário estará comprovando sua situação); - Estado
          civil; - Número de pessoas que residem na casa; - Status de
          ocupação (profissão); - Cadastro GOV.
        </p>
        <p>Cadastro Doador - Instituição:</p>
        - Nome; - Email; - Cadastro Nacional de Pessoa Jurídica (CNPJ); -
        Telefone.
        <p>Cadastro Doador - ONG (Organização Não Governamental):</p>
        <p>
          - Nome; - Email; - Cadastro Nacional de Pessoa Jurídica (CNPJ);
          - Telefone; - Quantos meses de criação a ONG possui; -
          Certificação ou prêmios. Cadastro Doador - Pessoa física: - Nome
          completo; - Email; - Registro Geral (RG); - Telefone; - Cadastro
          de Pessoa Física (CPF).
        </p>
      </div>
      <br />
      <br />

      <li div class="lista">Armazenamento e Segurança</li>
      <div class="corpo">
        <p>
          No Enchant, a proteção de suas informações pessoais é uma
          prioridade. Adotamos diversas medidas de segurança, incluindo:
        </p>

        <p>
          - Criptografia: Utilizamos criptografia para proteger dados
          sensíveis durante a transmissão
        </p>
        <p>
          - Controle de Acesso: Apenas funcionários autorizados têm acesso
          às informações pessoais, com acesso restrito baseado em
          necessidade.
        </p>
        <p>
          Embora tomemos essas precauções, reconhecemos que nenhum método
          de transmissão pela internet ou armazenamento eletrônico é 100%
          seguro.
        </p>
      </div>
      <br />
      <br />
      <li div class="lista">Compartilhamento de informações</li>

      <div class="corpo">
        <p>
          Suas informações pessoais são tratadas com respeito e
          confidencialidade. Compartilhamos suas informações apenas nas
          seguintes situações:
        </p>

        <p>
          - Cumprimento Legal: Podemos compartilhar informações quando
          exigido por lei ou em resposta a solicitações legais.
        </p>

        <p>
          - Proteção de Direitos: Se necessário, compartilharemos
          informações para proteger nossos direitos, a segurança de nossos
          usuários ou a integridade de nosso site.
        </p>
        <br />

        <p>
          Suas informações pessoais são tratadas com respeito e
          confidencialidade. Compartilhamos suas informações apenas nas
          seguintes situações: - Cumprimento Legal: Podemos compartilhar
          informações quando exigido por lei ou em resposta a solicitações
          legais. - Proteção de Direitos: Se necessário, compartilharemos
          informações para proteger nossos direitos, a segurança de nossos
          usuários ou a integridade de nosso site.
        </p>
      </div>
      <br />
      <br />
      <li div class="lista">Direitos dos usuários</li>
      <div class="corpo">
        <p>
          Os usuários do Enchant têm os seguintes direitos em relação às
          suas informações pessoais:
        </p>

        <p>
          - Acesso: Você pode solicitar acesso às suas informações
          pessoais que mantemos em nossos registros.
        </p>

        <p>
          - Correção: Se suas informações estiverem imprecisas ou
          incompletas, você pode solicitar a correção.
        </p>

        <p>
          - Exclusão: Você pode solicitar a exclusão de suas informações
          pessoais, desde que não haja obrigações legais que impeçam essa
          ação.
        </p>

        <p>
          Para exercer qualquer um desses direitos, entre em contato
          conosco através dos canais disponíveis em nosso site.
        </p>
      </div>
      <br />
      <br />
      <li div class="lista">Alterações na Política de Privacodade</li>
      <div class="corpo">
        <p>
          Reservamo-nos o direito de alterar esta Política de Privacidade
          a qualquer momento. Quaisquer mudanças serão publicadas em nosso
          site, com uma data de revisão atualizada. Recomendamos que você
          revise esta política periodicamente para se manter informado
          sobre como protegemos suas informações.
        </p>
      </div>
      <br />
      <br />
      <li div class="lista">Contatos</li>
      <div class="corpo">
        <p>
          Para dúvidas ou solicitações relacionadas à sua privacidade,
          entre em contato conosco pelo
        </p>
        <p>E-mail - equipeenchant@gmail.com.</p>
        <p>Data de vigência: 25/10/2024.</p>
      </div>
    </ul>
  </main>



  <br>
  <section>
    <div id="enchant-footer"></div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>

    <script src="../../scripts/layouts/enchant/footerenchant.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Carregar Bootstrap e FontAwesome automaticamente
        HeaderComponent.loadDependencies();

        // Renderizar o header no container
        initializeHeader('header-container');
      });
    </script>
  </section>

</html>

</html>