<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="https://i.ibb.co/7NybZ3W7/1.png" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <title>Emchant - Quem somos?</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />>

  <link rel="stylesheet" href="../../../public/styles/enchant/quemsomos1.css">

  <script src="../../../public/scripts/layouts/enchant/headerenchant.js"></script>
  <script src="../../../public/scripts/layouts/enchant/footerenchant.js"></script>
  <link rel="stylesheet" href="../../../public/styles/global.css">
</head>

<body>

  <div id="header-container"></div>

  <main>
    <h1>Quem somos?</h1>
    <div class="grid-container">
      <div class="grid-item">
        <img src="https://i.ibb.co/spcLcp6g/IMG-5921.jpg" alt="Foto Andressa Cardoso" />
        <h2>Andressa Cardoso</h2>
      </div>
      <div class="grid-item">
        <img src="https://i.ibb.co/DgTqwB76/IMG-5911.jpg" alt="Foto Camila Guimarães" />
        <h2>Camila Guimarães</h2>
      </div>
      <div class="grid-item">
        <img src="https://i.ibb.co/zTY9f9Fg/IMG-5893.jpg" alt="Foto Guilherme Oliver" />
        <h2>Guilherme Oliver</h2>
      </div>
      <div class="grid-item">
        <img src="https://i.ibb.co/CK2fbTZY/IMG-5902.jpg" alt="Foto Manuella Souza" />
        <h2>Manuella Souza</h2>
      </div>
      <div class="grid-item">
        <img src="https://i.ibb.co/27N5dNK0/IMG-5887.jpg" alt="Foto Marcelle Abreu" />
        <h2>Marcelle Abreu</h2>
      </div>
      <div class="grid-item">
        <img src="https://i.ibb.co/d4WQndsz/IMG-5889.jpg" alt="Foto Marcos Hougaz" />
        <h2>Marcos Hougaz</h2>
      </div>
    </div>
    <p class="contatos">Contatos</p>
    <div class="icons">
      <div class="icon-item">
        <i class="fa fa-phone"></i>
        <span>(71) 91234-5678</span>
      </div>
      <div class="icon-item">
        <i class="fab fa-whatsapp"></i>
        <span>(71) 99876-5432</span>
      </div>
      <div class="icon-item">
        <i class="fa fa-envelope"></i>
        <span>enchant.pa25@gmail.com</span>
      </div>
    </div>

    <div class="sobre-missao">
      <div class="sobre">
        <h3 class="h3-sm">Sobre</h3>
        <p>
          Página destinada a divulgar os meios de contato dos desenvolvedores
          desta plataforma em casos de: sugestões, dúvidas, parcerias, ou
          necessidades de suporte.
        </p>
      </div>


      <div class="missao">
        <h3 class="h3-sm">Missão</h3>
        <p>
          Somos focados em desenvolver uma plataforma que não só identifique
          zonas de perigo e refúgios, mas também incentive a participação da
          comunidade na prestação de assistência e recursos cruciais...
        </p>
      </div>
    </div>
  </main>
 

<div id="enchant-footer"></div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="../../scripts/layouts/enchant/headerenchant.js"></script>
  <script src="../../scripts/layouts/enchant/footerenchant.js"></script>
  <script>
    const header = new HeaderComponent();
    header.render("header-container");
  </script>
</body>

</html>