@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    font-family: 'Lexend Deca';
    font-size: 16px;

}

.containernomes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3rem;
 
    align-items: center;
    max-width: 100%;
    margin-top: 4rem;
    z-index: 1000;
}






.containerc{


    width:39rem;
    height: 6rem;
    border: 1px solid black;
    border-radius: 15px;
    padding:1.5rem;
   
}

.tracinho{
   width: 72%;
   height: 120px;
    background-color: #EC5907;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.hh{

 padding:1rem;
    display:flex;
    text-align:center;
   justify-content: center;
    align-items: center;
}


.gg1{
 
    
    color: rgba(97, 53, 12, 1);
   font-size: 32px;
    font-family: "Passion One", serif;
 /* Ajusta o espaçamento */
   
    
}




.containercc{


    width:39rem;
    height: 6rem;
    border: 1px solid black;
    border-radius: 15px;
    padding:1.5rem;
   
   
}

/* Adicione este estilo ao seu CSS */
.todos-documentos-container {
  border: 1px solid #cacaca;
border-radius: 10px;
  padding: 2rem;
  margin: 2rem auto;
  margin-bottom:8rem;
  height: 20rem;
  width: 90%;
  max-width: 50rem;
  background-color: #fff;
  
}

/* Ajustes para o layout interno */
.containernomes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.documento-grupo {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
}

.containerc  {
  width: 100%;
  margin-top: -3rem;
  border: 1px solid #cacaca;
  border-radius: 15px;
  padding: 1.5rem;
}
.containercc{
  width: 100%;
  
  border: 1px solid #cacaca;
  border-radius: 15px;
  padding: 1.5rem;
}

.imagemm {
  margin-top: -3rem;
  margin-right: 0;
  position: absolute;
  right: 10px;
}
.imagemm2 {
  margin-top: 0;
  margin-right: 0;
  position: absolute;
  right: 10px;
}

.imageem {
  height: 80px;
  width: 80px;
}


.oo{


    margin-right: 18rem;
    margin-bottom: 0.5rem;
}
.imagens{
   
    margin-right: 20rem;
}





.esqueceu{
    color: #ec9407;
   
}


.esqueceu:hover{


    color: #a36d40;
    text-decoration: underline;
   
}


@media (max-width: 768px) {
    body {
      font-size: 14px;
    }
  
   
  
    .todos-documentos-container {
      border: 1px solid #cacaca;
    border-radius: 10px;
      padding: 2rem;
      margin: 2rem auto;
      margin-bottom:8rem;
      height: 18rem;
      width: 100%;
      max-width: 50rem;
      background-color: #fff;
      
    }
    
    /* Ajustes para o layout interno */
    .containernomes {
      display: flex;
      margin-right: 2rem;
      flex-direction: column;
      font-size: 14px;
      height: 8rem;
      align-items: center;
      width: 100%;
    }
    
    .documento-grupo {
      display: flex;
      width: 100%;
 
      align-items: center;
      position: relative;
    }
    
    .containerc  {
      width: 100%;
      margin-top: -3rem;
      border: 1px solid #cacaca;
      border-radius: 15px;
      padding: 1.5rem;
    }
    .containercc{
      width: 100%;
      
      border: 1px solid #cacaca;
      border-radius: 15px;
      padding: 1.5rem;
    }
    
    .imagemm {
      margin-top: -4rem;
      margin-right: 0;
      position: absolute;
      right: 10px;
    }
    .imagemm2 {
      margin-top: 0;
      margin-right: 0;
      position: absolute;
      right: 10px;
    }
    
    .imageem {
      height: 40px;
      width: 40px;
    }
  
  
  
    .hh {
      margin-top: 2rem;
      padding: 1rem;
      margin-left: 0;
      text-align: center;
    }
  
    .gg1 {
      font-size: 24px;
    }
  
   
  
    .oo {
      margin-right: 0;
      text-align: justify;
      margin-top: -0.6rem;
      font-size: 13px;
      max-width: 65%;

    }
  
    .imagens {
      margin-right: 0;
      text-align: center;
    }
  
    .esqueceu {
      display: block;
      gap: 1rem;
      font-size: 10px;
      text-align: justify;
      margin-top: 0.5rem;
    }
}
